@import '../../../assets/sass/_variables';

.searchFilms__main{
  height: 4em;
  padding: 0 10px;
  border-radius: 3px;
  display: flex;
  place-content: center;
 
  div{
    display: flex;
    align-items: center;
    position: relative;
      img{
        
        width: 35px;
        height: 35px;
       
        cursor: pointer;
      }

    input{
      outline: none;
      height: 2.8rem;
      text-align: center;
      font-size: 1.2rem;
      background-color: rgba(190, 189, 189, 0.5);
      border: none;
      border-radius: 3px;
     
    }
  }

  @media screen and (max-width: 1100px) {
    border: none;
    box-shadow: none;
    padding: 0;
    div{
      input{
        display: none;
      }

      button{
        margin: 0;
      }
    }
  }
}
