@import '../../../assets/sass/_variables';

.searchFilms__main{
  height: 4em;
  
  border-radius: 3px;
  display: flex;
  place-content: center;
  border: none;
  box-shadow: none;
  padding: 0;

  div{
  
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;

    position: relative;
      img{
        
        width: 35px;
        height: 35px;
       
        cursor: pointer;
        z-index: 2;
      }

    input{
      outline: none;
      height: 2.8rem;
      text-align: center;
      font-size: 1.2rem;
      background-color: rgba(190, 189, 189, 0.5);
      border: none;
      border-radius: 3px;
      max-width: 10rem;
      position: absolute;
      z-index: 1;
    }
  }


  @media screen and (min-width: 540px) {
   
    
    div{
      input{
      
        max-width: 12rem;
      }

    }
  }

  @media screen and (min-width: 800px) {
    border: none;
    box-shadow: none;
    padding: 0;
    
    div{
     

      button{
        margin: 0;
      }
    }
  }
}
