.login__main{
  h2{
    margin-bottom: 10px;
    text-align: start;
    text-transform: uppercase;
  }
  form{
      width: 20em;
      height: 26.6em;
      display: flex;
      flex-direction: column;
      padding: 30px;
      background-color: rgba(49, 45, 45, 0.897);
      border-radius: 3px;
      box-shadow: 3px 5px 10px rgb(37, 37, 37);
      overflow-y: auto;
      place-content: center;
      input{
        outline: none;
        height: 2em;
        border-radius: 3px;
        box-shadow: 0px 5px 10px rgb(19, 18, 18);
        margin:2em 0;
        font-size: 1.3rem;
        text-align: center;
        border: none;
        transition: ease all .3s;
        color: white;
        background-color: rgb(48, 40, 40);

      }
      input:focus , input:hover{
        box-shadow: 0px 5px 10px rgb(34, 3, 3);
        background-color: rgb(68, 50, 50);

      }
  }
}