$color1: #E50914;
$color2: #221F1F;
$color3: #FFFFFF;
$color4: #B3B3B3;
$color5: #333333;

$form-background: #F4F6F8;
$form-border: #AEBCC5;
$form-placeholder: #8E9EA5;
$form-input-background: #E7EBEE;
$form-input-focus-border: #1E88E5;
$form-submit-button-background: #1E88E5;
$form-submit-button-color: #FFFFFF;